* {
  cursor: none;
}

body {
  background-color: #000;
  height: 100vh;
  transition: all 0.5s;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.back {
  background-color: #ffffff;
}

body.back2 {
  background-color: #e6f081;
}

body.back3 {
  background-color: #ff3333;
}

body.back4 {
  background-color: #c4e3ff;
}

body.back5 {
  background-color: #ddcba2;
}

body.back6 {
  background-color: #bdffdf;
}

body.back7 {
  background-color: #7b7fe3;
}

body.back8 {
  background-color: #000000;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

.cursor.big {
  width: 100px;
  height: 100px;
}

.cursor_shadow1 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  transition: top 0.1s, left 0.1s;
}

@media (max-width: 768px) {
  .cursor {
    cursor: auto;
  }

  .cursor.big {
  }

  .cursor_shadow1 {
  }
}

.scrollTop {
  width: 100px;
  height: 100px;
  border: 1px solid #ddcba2;
  border-radius: 50px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.scrollTop:hover {
  background-color: #ddcba2;
}

.scrollTop:hover .scrollArrow {
  background: url(../img/top-arrow-on.png) no-repeat center/cover;
}

.scrollArrow {
  width: 50px;
  height: 60px;
  background: url(../img/scroll-arrow-off.png) no-repeat center/cover;
  transition: all 0.3s;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 10px;
  position: relative;
  z-index: 1000;
}

.header_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
  width: 20%;
}

.header_list a {
  margin-right: 4px;
  font-size: 1.5rem;
  color: #ddcba2;
  font-weight: bold;
  padding: 20px;
  transition: all 0.3s;
}

.header_list a:hover {
  background-color: rgb(227, 227, 227);
  color: #000;
}

header.down {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
}

header > p {
  font-size: 1.5rem;
  color: #ddcba2;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header_list {
    margin-right: 97px;
  }

  .header_list a {
    font-size: 1.2rem;
    margin-right: 2px;
    padding: 10px;
  }
}

@media (max-width: 390px) {
  header > p {
    font-size: 1.2rem;
  }

  .header_list {
    margin-right: 76px;
  }

  .header_list a {
    font-size: 1.2rem;
    margin-right: 2px;
    padding: 10px;
  }
}

.title {
  display: inline-block;
  position: relative;
  top: 24%;
  left: 26%;
  transform: translate(-50%, -50%);
}

.title > span {
  overflow: hidden;
  box-sizing: border-box;
}

.title > span > span {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  transform: translateY(-100px);
  opacity: 0;
}

.titleBox {
  display: flex;
  align-items: center;
  position: relative;
  top: 19%;
  left: 15%;
  margin-left: 0.625rem;
}

.title2 {
  margin-right: 2.1875rem;
}

.title2 > span {
  overflow: hidden;
}

.title2 > span > span {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
}

.title3 {
  margin-right: 2.1875rem;
}

.title3 > span {
  overflow: hidden;
}

.title3 > span > span {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
}

.title4 {
}

.title4 > span {
  overflow: hidden;
}

.title4 > span > span {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
}

.title5 {
  position: relative;
  right: -16%;
  top: 23%;
}

.title5 > span {
  display: inline-block;
  border: 1px solid #ffffff;
  overflow: hidden;
}

.title5 > span > span {
  font-size: 6.5rem;
  color: #ddcba2;
  font-weight: bold;
  opacity: 1;
  display: block;
}

.title6 {
  position: relative;
  top: 13%;
  right: -34%;
}

.title6 > p {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
}

/* 765~1770 */

@media all and (min-width: 769px) and (max-width: 1770px) {
  .title > span > span {
    font-size: 4rem;
  }

  .title {
    top: 23%;
    left: 27%;
  }
  .title2 > span > span {
    font-size: 4rem;
  }
  .title3 > span > span {
    font-size: 4rem;
  }
  .title5 > span > span {
    font-size: 4rem;
  }
  .title6 > p {
    font-size: 4rem;
  }

  .title6 {
    top: 14%;
    right: -31%;
  }
}

@media (max-width: 768px) {
  .title {
    display: inline-block;
    position: relative;
    top: 14%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .title > span {
    overflow: hidden;
    box-sizing: border-box;
  }

  .title > span > span {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    transform: translateY(-100px);
    opacity: 0;
  }

  .titleBox {
    display: flex;
    align-items: center;
    position: relative;
    top: 13%;
    left: 10%;
  }

  .title2 {
    margin-right: 1.1875rem;
  }

  .title2 > span {
    overflow: hidden;
  }

  .title2 > span > span {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
  }

  .title3 {
    margin-right: 1.1875rem;
  }

  .title3 > span {
    overflow: hidden;
  }

  .title3 > span > span {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
  }

  .title4 {
  }

  .title4 > span {
    overflow: hidden;
  }

  .title4 > span > span {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
  }

  .title5 {
    position: relative;
    right: -12%;
    top: 17%;
  }

  .title5 > span {
    display: inline-block;
    border: 1px solid #ffffff;
    overflow: hidden;
  }

  .title5 > span > span {
    font-size: 2.5rem;
  }

  .title6 {
    position: relative;
    top: 12%;
    right: -31%;
  }

  .title6 > p {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
  }
}

/* 768 title */

@media (min-width: 391px) and (max-width: 767px) {
  .title {
    top: 14%;
    left: 29%;
  }

  .title6 {
    position: relative;
    top: 12%;
    right: -37%;
  }
}

@media (max-width: 390px) {
  .title {
    left: 29%;
  }

  .title > span > span {
    font-size: 24px;
  }

  .titleBox {
    flex-wrap: wrap;
  }

  .title2 {
    margin-right: 1.1875rem;
    position: absolute;
    top: 0%;
  }

  .title2 > span > span {
    font-size: 24px;
  }

  .title3 {
    margin-right: 1.1875rem;
    position: absolute;
    top: 7%;
    right: 36%;
  }

  .title3 > span > span {
    font-size: 24px;
  }

  .title4 {
    position: absolute;
    top: 108%;
    right: 33%;
  }

  .title4 > span > span {
    font-size: 24px;
  }

  .title5 {
    top: 19%;
  }

  .title5 > span {
    display: inline-block;
    border: 1px solid #ffffff;
    overflow: hidden;
  }

  .title6 {
    top: 12%;
    right: -50%;
  }

  .title6 > p {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
  }
}

.imgBox1 {
  position: relative;
  top: -44%;
  right: -53%;
  overflow: hidden;
  width: 600px;
  z-index: -1;
  border-radius: 50%;
}

.imgBox1 > img {
  width: 639px;
}

.imgBox2 {
  position: relative;
  top: -111%;
  right: -53%;
  overflow: hidden;
  width: 600px;
  z-index: -1;
  border-radius: 50%;
}

.imgBox2 > img {
  width: 639px;
}

.imgBox2 > img {
  opacity: 0.3;
}

.imgBox3 {
  position: relative;
  top: -120%;
  right: 8%;
  width: 600px;
  z-index: -1;
}

.imgBox3 > img {
  width: 511px;
}

@media (max-width: 768px) {
  .imgBox1 {
    top: -21%;
    right: -47%;
  }

  .imgBox1 > img {
    width: 506px;
  }

  .imgBox2 {
    top: -64%;
    right: -44%;
  }

  .imgBox2 > img {
    width: 437px;
  }

  .imgBox3 {
    top: -70%;
    right: 19%;
  }
}

/* 768px imgBox */

@media (max-width: 390px) {
  .imgBox1 {
    top: -30%;
    right: -25%;
  }

  .imgBox1 > img {
    width: 369px;
  }

  .imgBox2 {
    top: -68%;
    right: -28%;
  }

  .imgBox2 > img {
    width: 316px;
  }

  .imgBox3 {
    top: -60%;
    right: 55%;
  }

  .imgBox3 > img {
    width: 424px;
  }
}

/* 390 imgBox */

/* title_area */

.title_area {
  position: relative;
  top: -50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.title_area > span {
  font-size: 9.375rem;
  font-weight: bold;
  color: #000;
  display: inline-block;
  opacity: 0;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: translate(0px, 0px);
}

.title_area > span:nth-child(2) {
  margin-left: 18.8125rem;
}

.title_area > span > span {
  transform: skewY(-45deg);
}

@media (min-width: 769px) and (max-width: 1770px) {
  .title_area {
    left: -22%;
  }
  .titleBox2 {
    width: 58%;
    left: 6%;
  }

  .titleBox3 {
    width: 97%;

    right: -6%;
  }
}

@media (max-width: 768px) {
  .title_area {
    left: -59%;
    top: -33%;
  }

  .title_area > span {
    font-size: 5rem;
  }

  .title_area > span:nth-child(2) {
    margin-left: 0;
    position: relative;
    left: -27%;
  }
}

/* 768 title_area */

@media (max-width: 390px) {
  .title_area {
    left: -141%;
  }

  .title_area > span {
    font-size: 4rem;
  }

  .title_area > span:nth-child(2) {
    left: -50%;
  }
}

/* 390 title_area */

/* main 시작 */

main {
  position: relative;
  top: -5%;
}

.secText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 23%;
  left: 9%;
  transition: all 0.3s;
}

.logoBox {
  width: 260px;
  height: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
  align-items: center;
  opacity: 0;
  transform: translateX(-800px);
  transition: all 0.5s;
}

.logoBox > .logoImg {
  width: 283px;
  height: 100px;
}

.secText > p {
  font-size: 3.125rem;
  font-weight: bold;
  color: #000;
  opacity: 0;
  transform: translateX(-800px);
  transition: all 0.5s;
}

.secText > p:nth-of-type(1) {
  margin-bottom: 2.375rem;
}

.secText > a {
  color: #000000;
  font-size: 1.875rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 20px;
  transition: all 0.5s;
  opacity: 0;
  transform: translateX(-800px);
}

.mainArea_item1 > .secText > a:hover {
  background-color: #428443;
  color: #ffff;
}

.mainArea_item2 > .secText > a:hover {
  background-color: #efc0ed;
  color: #ffff;
}

.mainArea_item3 > .secText > a:hover {
  background-color: #3192ed;
  color: #ffff;
}

.mainArea_item4 > .secText > a:hover {
  background-color: #e55427;
  color: #ffff;
}

.mainArea_item5 > .secText > a:hover {
  background-color: #46d5fc;
  color: #ffff;
}

.mainArea_item6 > .secText > a:hover {
  background-color: #c2fc46;
  color: #ffff;
}

.mainArea_item1 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.mainArea_item1 > .secText > .logoBox > .logoImg {
  background: url(../img/아크로고.webp) no-repeat center/cover;
  height: 159px;
}

.mainArea_item2 > .secText > .logoBox > .logoImg {
  background: url(../img/나스로고.png) no-repeat center/cover;
  height: 106px;
}

.mainArea_item3 > .secText > .logoBox > .logoImg {
  background: url(../img/대구은행로고.png) no-repeat center/cover;
  width: 261px;
  height: 49px;
}

.mainArea_item4 > .secText > .logoBox > .logoImg {
  background: url(../img/안다르로고.svg) no-repeat center/cover;
  height: 67px;
}

.mainArea_item5 > .secText > .logoBox > .logoImg {
  background: url(../img/네이버로고.jpg) no-repeat center/cover;
}

.mainArea_item6 > .secText > .logoBox > .logoImg {
  background: url(../img/세븐나이츠로고.png) no-repeat center/cover;
  height: 161px;
}

.itemimg.img1 {
  width: 65%;
  height: 100%;
  background: url(../img/아크off.png) no-repeat center/cover;
  position: absolute;
  right: 0%;
  top: 0%;
  transition: all 0.3s;
}

.itemimg.img1:hover {
  background: url(../img/아크이미지.jpg) no-repeat center/cover;
}

.mainArea_item2 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.itemimg.img2 {
  width: 65%;
  height: 100%;
  background: url(../img/나스이미지off.png) no-repeat center/cover;
  position: absolute;
  transition: all 0.3s;
  right: 0%;
  top: 0%;
}

.itemimg.img2:hover {
  background: url(../img/나스이미지.jpg) no-repeat center/cover;
}

.mainArea_item3 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.itemimg.img3 {
  width: 65%;
  height: 100%;
  background: url(../img/dgb-off.png) no-repeat center/cover;
  position: absolute;
  transition: all 0.3s;
  right: 0%;
  top: 0%;
}

.itemimg.img3:hover {
  background: url(../img/dgb대구은행이미지.jpg) no-repeat center/cover;
}

.mainArea_item4 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.itemimg.img4 {
  width: 65%;
  height: 100%;
  background: url(../img/안다르off.png) no-repeat center/cover;
  position: absolute;
  right: 0%;
  top: 0%;
  transition: all 0.3s;
}

.itemimg.img4:hover {
  background: url(../img/안다르이미지.png) no-repeat center/cover;
}

.mainArea_item5 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.mainArea_item5 .logoBox {
  margin-bottom: 10px;
}

.itemimg.img5 {
  width: 65%;
  height: 100%;
  background: url(../img/네이버off.png) no-repeat center/cover;
  position: absolute;
  right: 0%;
  top: 0%;
  transition: all 0.3s;
}

.itemimg.img5:hover {
  background: url(../img/네이버이미지.jpg) no-repeat center/cover;
}

.mainArea_item6 {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.itemimg.img6 {
  width: 65%;
  height: 100%;
  background: url(../img/세븐off.png) no-repeat center/cover;
  position: absolute;
  right: 0%;
  top: 0%;
  transition: all 0.3s;
}

.itemimg.img6:hover {
  background: url(../img/세븐나이츠이미지.jpg) no-repeat center/cover;
}

.grapicArea {
  width: 100%;
  height: 100vh;
}

.grapicBox {
  width: 100%;
  height: 80%;
}

.grapicArea p {
  font-size: 4vw;
  color: #ffff;
  font-weight: bold;
}

.grapicArea ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grapicArea ul > li {
  width: 20vw;
  height: 60%;
  background: url(../img/디자인1.png) no-repeat center/cover;
}

.grapicArea ul > li:hover img {
  height: 80vh;
  display: block;
}

.grapicArea ul > li > img {
  display: none;
}

@media (max-width: 768px) {
  .secText {
    top: 15%;
    left: 2%;
  }

  .secText > p {
    font-size: 2.125rem;
  }

  .secText > a {
    font-size: 1.3rem;
  }

  .itemimg.img1 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }

  .itemimg.img2 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }

  .itemimg.img3 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }

  .itemimg.img4 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }

  .itemimg.img5 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }

  .itemimg.img6 {
    width: 59%;
    height: 73%;
    right: 3%;
    top: 12%;
  }
}

/* main 768  */

@media (max-width: 390px) {
  .secText {
    top: 15%;
    left: 19%;
    z-index: 1;
  }

  .mainArea_item1 > .secText > p {
    font-size: 2.125rem;
    color: #ffffff;
  }

  .mainArea_item2 > .secText > p {
    font-size: 2.125rem;
    color: #ffffff;
  }

  .mainArea_item1 > .secText > a {
    font-size: 1.3rem;
    border: #ffffff 1px solid;
    color: #ffffff;
  }

  .mainArea_item2 > .secText > a {
    font-size: 1.3rem;
    border: #ffffff 1px solid;
    color: #ffffff;
  }

  .mainArea_item1 > .secText > .logoBox > .logoImg {
    background: url(../img/arcteryx_logo1.png) no-repeat center/cover;
  }

  .mainArea_item2 > .secText > .logoBox > .logoImg {
    background: url(../img/nars-logo-white.png) no-repeat center/cover;
  }

  .itemimg.img1 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .itemimg.img2 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .itemimg.img3 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .itemimg.img4 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .itemimg.img5 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .itemimg.img6 {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
  }
}

/* main끝 */

.titleBox2 {
  margin-top: 12.5rem;
  width: 53%;
  height: 30%;
  display: flex;
  position: relative;
  left: 14%;
}

.titleBox2 > .titleBox2_box {
  perspective: 500px;
  margin-right: 50px;
}

.titleBox2 > .titleBox2_box > span {
  font-size: 8.125rem;
  color: #dfc78f;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  transform: translate3d(50%, 50%, -50em);
  opacity: 0;
}

.titleBox3 {
  width: 87%;
  height: 43%;
  display: flex;
  position: relative;
  right: -15%;
  top: -1%;
}

.titleBox3 > .titleBox3_box {
  perspective: 500px;
  margin-right: 50px;
  transform-style: preserve-3d;
}

.titleBox3 > .titleBox3_box > span {
  font-size: 8.125rem;
  color: #dfc78f;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  opacity: 0;
  transform: skewY(-50deg);
}

@media (max-width: 768px) {
  .titleBox2 {
    margin-top: 1.5rem;
    width: 100%;
    left: 2%;
    top: 18%;
  }

  .titleBox2 > .titleBox2_box {
    margin-right: 55px;
  }

  .titleBox2 > .titleBox2_box > span {
    font-size: 6.125rem;
  }

  .titleBox3 {
    width: 100%;
    height: 43%;
    display: flex;
    position: relative;
    right: -3%;
    top: 10%;
  }

  .titleBox3 > .titleBox3_box {
    margin-right: 30px;
  }

  .titleBox3 > .titleBox3_box > span {
    font-size: 4.125rem;
  }
}

@media (max-width: 390px) {
  .titleBox2 {
    margin-top: 1.5rem;
    width: 100%;
    left: 2%;
    top: 18%;
  }

  .titleBox2 > .titleBox2_box {
    margin-right: 24px;
  }

  .titleBox2 > .titleBox2_box > span {
    font-size: 3.125rem;
  }

  .titleBox3 {
    width: 100%;
    height: 43%;
    display: flex;
    position: relative;
    right: -3%;
    top: 0%;
    flex-wrap: wrap;
  }

  .titleBox3 > .titleBox3_box {
    margin-right: 30px;
  }

  .titleBox3 > .titleBox3_box > span {
    font-size: 4.125rem;
  }
}

/* titleBox2,3 끝 */

footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.fotBox {
  width: 25%;
  border: 1px solid #ffffff;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.fotBox > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotBox p {
  font: bold 5rem "Anton";
  color: #ffffff;
  transition: all 0.5s;
}

.fotBox span {
  font: bold 3.5rem "Anton";
  color: #000;
  transition: all 0.5s;
  display: none;
}

.fotBox:hover {
  background-color: #ffffff;
}

.fotBox:nth-child(4):hover a {
  display: flex;
  flex-direction: column;
}

.fotBox:hover p {
  color: #000;
}

.fotBox:nth-child(4):hover p {
  display: none;
}

.fotBox:hover span {
  display: block;
}

.icon1 {
  width: 200px;
  height: 200px;
  background: url(../img/깃헙로고off.png) no-repeat center/cover;
  transition: all 0.5s;
}

.fotBox:hover .icon1 {
  background: url(../img/깃헙로고온.png) no-repeat center/cover;
}

.icon2 {
  width: 155px;
  height: 154px;
  background: url(../img/velog-off.png) no-repeat center/cover;
  transition: all 0.5s;
  margin-right: 10px;
}

.fotBox:hover .icon2 {
  background: url(../img/velog-on.png) no-repeat center/cover;
}

.icon3 {
  width: 167px;
  height: 128px;
  background: url(../img/maile-off.png) no-repeat center/cover;
  transition: all 0.5s;
  margin-right: 10px;
}

.fotBox:hover .icon3 {
  background: url(../img/mail-on.png) no-repeat center/cover;
}

.icon4 {
  width: 123px;
  height: 163px;
  background: url(../img/phon-off.png) no-repeat center/cover;
  transition: all 0.5s;
  margin-right: 10px;
}

.fotBox:hover .icon4 {
  background: url(../img/phone-on.png) no-repeat center/cover;
}

@media (min-width: 769px) and (max-width: 1770px) {
  .fotBox p {
    font: bold 4rem "Anton";
  }

  .icon1 {
    width: 168px;
    height: 200px;
    background: url(../img/깃헙로고off.png) no-repeat center/cover;
    transition: all 0.5s;
  }

  .titleBox2 {
    width: 58%;
    left: 4%;
  }
  .titleBox3 {
    width: 96%;

    right: -5%;
  }
}

@media (max-width: 768px) {
  footer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fotBox > a {
    flex-direction: column;
  }

  .fotBox:nth-child(2) > a {
    margin-top: 26px;
  }

  .fotBox:nth-child(3) > a {
    margin-top: 41px;
  }

  .fotBox:nth-child(4) > a {
    margin-top: 5px;
  }

  .fotBox:nth-child(4) span {
    font-size: 2rem;
  }

  .fotBox p {
    font: bold 3rem "Anton";
    color: #ffffff;
    transition: all 0.5s;
  }

  .icon1 {
    width: 120px;
    height: 120px;
  }

  .icon2 {
    width: 94px;
    height: 94px;
  }

  .icon3 {
    width: 107px;
    height: 77px;
  }

  .icon4 {
    width: 84px;
    height: 120px;
  }
}

@media (max-width: 390px) {
  .fotBox:nth-child(2) > a {
    margin-top: 18px;
  }

  .fotBox:nth-child(3) > a {
    margin-top: 41px;
  }

  .fotBox:nth-child(4) > a {
    margin-top: 14px;
  }

  .fotBox p {
    font: bold 2rem "Anton";
  }

  .fotBox:nth-child(4) span {
    font-size: 1rem;
  }

  .icon1 {
    width: 81px;
    height: 111px;
  }

  .icon2 {
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
    margin-left: 10px;
  }

  .icon3 {
    width: 71px;
    height: 64px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .icon4 {
    width: 62px;
    height: 94px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

/* -------------------- section 5 -------------------- */
.design_Area {
  position: relative;
}
.designArea_title {
  font: bold 2vw "PyeongChangPeace";
  text-align: center;
  color: #ddcba2;
  border: 1px solid #ddcba2;
  border-radius: 100px;
  padding: 5px 10px;
  margin: 0 10vw;
  position: relative;
  top: 127px;
  transition: all 0.3s;
}

.designArea_title:hover {
  background-color: rgb(227, 227, 227);
  color: #000;
}

.designArea_inner {
  padding: 10vw;
}
.image_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.image_grid > li {
  border: 1px solid #ddcba2;
  box-sizing: border-box;
  aspect-ratio: 1;
  overflow: hidden;
}
.image_grid > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
/* border radius */
.image_grid > li:nth-child(1) {
  border-radius: 2vw 0 0 0;
}
.image_grid > li:nth-child(4) {
  border-radius: 0 2vw 0 0;
}
.image_grid > li:nth-child(5) {
  border-radius: 0 0 0 2vw;
}
.image_grid > li:nth-child(8) {
  border-radius: 0 0 2vw 0;
}
/* thumb img location */
.image_grid > li:nth-child(1) > a {
  background: url(../img/design1_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(2) > a {
  background: url(../img/design2_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(3) > a {
  background: url(../img/design3_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(4) > a {
  background: url(../img/design4_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(5) > a {
  background: url(../img/design5_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(6) > a {
  background: url(../img/design6_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(7) > a {
  background: url(../img/design7_thumb.jpg) no-repeat center/cover;
}
.image_grid > li:nth-child(8) > a {
  background: url(../img/design8_thumb.jpg) no-repeat center/cover;
}
/* hover dim */
.image_grid > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 2vw;
  opacity: 0;
  transition: opacity 0.5s;
}
.image_grid > li > a:hover::after {
  opacity: 1;
}

/* -------------------- modal -------------------- */
.modalWrap {
}
.modalList {
}
.modalList > li {
  display: none;
}
.modalList > li > div {
  position: fixed;
  z-index: 900;
  width: 50%;
  height: 80%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow-x: hidden;
  background: url(../img/noise_bg1.png);
  border: 1px solid #fff;
  padding: 10px;
}
.modalList > li > div > span {
  display: inline-block;
  color: #fff;
  white-space: nowrap;
  padding: 0 0 10px 10px;
  font: 16px "Pretendard";
  line-height: 50px;
}
.modalList > li > div > span:first-child::after {
  content: "|";
  margin-left: 10px;
}
.modalList > li > div > span > a {
  display: block;
  color: #fff;
  animation: figmalink-animation ease 3s infinite;
}
.modalList > li > div > span > a:hover {
  color: #f7f008;
}
@keyframes figmalink-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.modalClose {
  position: absolute;
  font-size: 50px;
  color: #fff;
  right: 10px;
  top: 10px;
}
.modalList > li > div > img {
  width: 100%;
  display: block;
  overflow: hidden;
}
.modalList > li.active {
  display: block;
}
.modalDim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}
.modalDim.active {
  opacity: 0.7;
  z-index: 899;
  pointer-events: auto;
}
